{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}OC Plateforme{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link href="{{ asset('assets/stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('assets/stylesheets/print.css') }}" media="print" rel="stylesheet" type="text/css"/>
        <!--[if IE]>
        <link href="{{ asset('assets/stylesheets/ie.css') }}" media="screen, projection" rel="stylesheet"
              type="text/css"/>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <style type="text/css">
            body {
                padding-top: 70px;
            }

            img {
                width: 100%;
            }

            .well {
                background-color: #CCC;
                padding: 20px;
            }

            a:active, a:focus {
                outline: none;
            }

            .inline-form input {
                display: inline-block;
                width: 100px;
            }
        </style>
    {% endblock %}
</head>

<body>
<div class="container">
    {# Si l'utilisateur a un role admin #}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header col-md-2 col-sm-2 col-xs-2">
            <a class="navbar-brand" href="{{ path('oc_platform_home') }}">My World</a>
        </div>
        <div class="container-fluid col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-2 col-xs-offset-8">
            <ul class="nav navbar-nav navbar-left pull-right">
                {#<form method="post" action="{{ path('oc_platform_recherche') }}" class="navbar-form navbar-left inline-form  pull-left" role="form" >#}
                {#<div class="form-group">#}
                {#<input type="search" name="search" class="input-sm form-control" placeholder="Recherche">#}
                {#<button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>#}
                {#</div>#}
                {#</form>#}
                {#<li><a href="{{ path('oc_platform_home') }}">Accueil</a></li> #}
                {% if is_granted("ROLE_ADMIN") %}

                {% endif %}
                {% if app.user is not null %}
                    <li class="dropdown pull-right">

                        <a data-toggle="dropdown" href="#">
                            {% if app.user.image is not null %}
                                <img src="{{ asset(app.user.image.PathView) }}" alt="{{ app.user.image.alt }}"
                                     style="width:40px">
                            {% endif %}
                            {{ app.user.username }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('oc_platform_editUser', {'id' : app.user.id}) }}"><span
                                            class="glyphicon glyphicon-user"></span> Mon profil</a></li>
                            <li><a href="#">Chasseurs</a></li>
                            <li><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
                            <li><a href="{{ path('oc_platform_addUser') }}">Créer un utilisateur</a></li>
                            <li><a href="{{ path('oc_platform_afficheUser') }}">Liste des utilisateurs</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('oc_hobbies_home') }}"><span class="glyphicon glyphicon-cog"></span>
                                    Préférences</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    <form class="navbar-form navbar-right inline-form" role="form">
                        <div class="form-group">
                            <a class="btn btn-primary btn-sm" href="{{ path('fos_user_security_login') }}"><span
                                        class="glyphicon glyphicon-user"></span> Se connecter</a>
                        </div>
                    </form>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="row">
        <div id="content" class="col-md-12">
            {% block body %}
                {# le body du template viens ici #}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <div class="row">
            <div class="col-md-12">
                <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
            </div>
        </div>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="{{ asset('bootstrap/js/jquery-2.1.4.js') }}"></script>

    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="i18n/datepicker-fr.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#send').click(function () {
                var text = $('#textSend').val().toString();
                var url = $('#urlAjaxChat').val().toString();
                $(this).addClass('btn-primary');
                alert(text);

                $.ajax({
                    url: url,
                    method: "POST",
                    data: {text: text},
                    dataType: "json"
                }).done(function (data) {
                    alert("success" + data.text);
                    $('#sourceChat').append(data.text);
                })
                    .fail(function () {
                        alert("error");
                    })
                    .always(function () {
                        alert("complete");
                    });

            });
            $( ".datepicker" ).datepicker(
                {
                altField: ".datepicker",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd/mm/yy'
            }
            );
        });
    </script>
{% endblock %}

</body>
</html>