{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
	{% for message in app.session.flashbag.get("notice") %}
		<p>{{ message }}</p>
	{% endfor%}
  	<h2>Listes des annonces</h2>
  	<p class="well">
  		Mot recherché : {{ search }}
  	<p>
  	<ul>
  		{% for listAdverts in adverts %}
	      	<li>
    			<a href="{{ path('oc_platform_view', {'id': listAdverts.id}) }}">
	          		{{ listAdverts.title }}
	        	</a>
	        	par {{ listAdverts.author }},
	        	le {{ listAdverts.date|date('d/m/Y') }}
	      	</li>
	    {% else %}
	    	<li>Pas (encore !) d'annonces</li>
	    {% endfor %}
 	</ul>
{% endblock %}