{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}
{# Déclaration de variable #}
{% set tailleChamp = 7 %}
{% trans_default_domain 'message' %}

{% if user.id is not null %}
    <h3>Modification d'un compte</h3>
{% else %}
    <h3>{{ "lg.creation_compte"|trans }}</h3>
{% endif %}

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.civilite, "lg.civilite"|trans , {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.civilite) }}
                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.civilite, {'attr': {'class': ''}}) }}
                </div>
            </div>
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.username, "Prénom :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.username) }}
                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.lastname, "Nom :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.lastname) }}
                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {#<div class="form-group">#}
            {# Génération du label. #}
            {#{{ form_label(form.lastname, "Nom :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}#}
            {# Affichage des erreurs pour ce champ précis. #}
            {#{{ form_errors(form.lastname) }}#}
            {#<div class="col-sm-4">#}
            {# Génération de l'input. #}
            {#{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
            {#</div>#}
            <div class="form-group">
                {{ form_label(form.departement, 'lg.departement'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.departement) }}
                <div class="col-sm-4">
                    {{ form_widget(form.departement, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.dateNaissance, "lg.date_naissance"|trans , {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.dateNaissance) }}
                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control datepicker'}}) }}
                </div>
            </div>
            {# Idem pour un autre champ. #}
            <div class="form-group">
                {{ form_label(form.email, "E-mail :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.email) }}
                <div class="col-sm-4">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {#<div class="form-group">#}
            {#{{ form_label(form.email.second, "Confirmez votre e-mail :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}#}
            {#{{ form_errors(form.email.second) }}#}
            {#<div class="col-sm-4">#}
            {#{{ form_widget(form.email.second, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
            {#</div>#}
            <div class="form-group">
                {{ form_label(form.password.first, "Mot de passe :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.password.first) }}
                <div class="col-sm-4">
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.password.second, "Confirmez le mot de passe :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.password.second) }}
                <div class="col-sm-4">
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {#<div class="form-group">#}
            {#{{ form_label(form.roles, "Droit utilisateur :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}#}
            {#{{ form_errors(form.roles) }}#}
            {#<div class="col-sm-7">#}
            {#{{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
            {#</div>#}
            <div class="form-group">
                {{ form_label(form.image.file, "Photo profile :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.image.file) }}
                <div class="col-sm-4">
                    {{ form_widget(form.image.file, {'attr': {'class': ''}}) }}
                </div>
            </div>
            <fieldset>
                <legend>{{ 'lg.preferences'|trans }}</legend>
                <div class="form-group">
                    {{ form_label(form.preferences, 'lg.passe_temps'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.preferences) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.preferences, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.preferenceDepartements, 'lg.preferences_departements'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.preferenceDepartements) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.preferenceDepartements, {'attr': {'class': ''}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.preferenceSexes, 'lg.preferences_civilite'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.preferenceSexes) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.preferenceSexes, {'attr': {'class': ''}}) }}
                    </div>
                </div>
            </fieldset>
            {#<div class="form-group">#}
            {#{{ form_label(form.enabled, "Actif / Inactif :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}#}
            {#{{ form_errors(form.enabled) }}#}
            {#<div class="col-sm-4">#}
            {#{{ form_widget(form.enabled, {'attr': {'class': 'form-control'}}) }}#}
            {#</div>#}
            {#</div>#}
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {% if user.id is not null and is_granted('ROLE_ADMIN') %}
                <a class="btn btn-danger btn-mini pull-right col-sm-2 "
                   href="{{ path('oc_platform_deleteUser', {'id': user.id}) }}">Supprimer</a>
            {% endif %}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary pull-right col-sm-2','style':'margin-right:5px;'}}) }}
        </div>
        <div class="col-md-3">
            {% if user.id is not null %}
                {% if user.image.url is defined  %}
                    <div class="col-sm-5 pull-right">
                        <a class="" href="{{ asset(user.image.pathView) }}" title="{{ user.image.alt }}">
                            <img src="{{ asset(user.image.PathView) }}" alt="{{ user.image.alt }}" style="width:100px">
                        </a>
                    </div>
                {% else %}
                    {% set fileSexe = '' %}
                    {% if user.civilite %}
                        {% if user.civilite.civilite == 'Monsieur' %}
                            {% set fileSexe = 'homme' %}
                        {% elseif user.civilite.civilite == 'Madame' or user.civilite == 'Mademoiselle' %}
                            {% set fileSexe = 'femme' %}
                        {% else %}
                            {% set fileSexe = 'deux' %}
                        {% endif %}
                    {% endif %}

                    {% set pathToBundle = 'bundles/ocplatform/img/avatar-' ~ fileSexe ~ '.jpg' %}
                    <div class="col-sm-5 pull-right">
                        <a class="" href="{{ asset(pathToBundle) }}" title="avatar-{{ fileSexe }}">
                            <img src="{{ asset(pathToBundle) }}" alt="avatar-{{ fileSexe }}" style="width:100px">
                        </a>
                    </div>
                {% endif %}

            {% endif %}
        </div>
    </div>


    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>
