{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "OCPlatformBundle::layout.html.twig" %}
{% trans_default_domain 'message' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>{{ "lg.fil_actualite"|trans }}</h2>
    <fieldset>
        <legend>{{ "lg.partage_ton_monde"|trans }}</legend>
        {{ include("OCPlatformBundle:Advert:form.html.twig") }}
    </fieldset>
    <div id="filactu">
        {% for advert in listAdvertsUser %}
             <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ advert.author }} a publié le {{ advert.createdAt|date('d/m/Y') }}</div>
                <div class="panel-body">
                    <span class="">
                        {% if advert.image.pathView is defined and advert.image.pathView != 'uploads/img/' %}
                            <img class="img-thumbnail img-responsive" src="{{ asset(advert.image.pathView) }}"
                                 style="width: 200px;height:200px;">
                        {% endif %}
                    </span>
                    <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                        <p>
                            {{ advert.content }}
                        </p>
                    </a>
                </div>
            </div>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </div>
{% endblock %}